$primary : #feba02; // Желтый
$secondary : #7b0404; // Темно-красный
$third : #000; // Черный
$fourth : #fff;
$five: #c74122; // Кирпичный
$six: #009f3c; // Зеленый
$seven: #ea6565; // Красный

$error : $third;
$success : $fourth;